<form [formGroup]="prayerForm" (submit)="submitPrayer()">
  <ion-item>
    <ion-label stacked>שם התפילה</ion-label>
    <ion-input formControlName="name" [(ngModel)]="prayer.title" placeholder="לדוגמה: מנחה"></ion-input>
  </ion-item>
  <fk-prayer-version-options formControlName="nosach" label="נוסח תפילה" [(ngModel)]="prayer.nosach" title="בחר נוסח תפילה"></fk-prayer-version-options>
  <ion-row padding justify-content-center>
    <button ion-button outline [disabled]="!prayerForm.valid">הוסף</button>
  </ion-row>
</form>
