fk-event-days-and-time-modal {
  #modal-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-card-content{
    position: relative;
    height: 100%;
    padding-bottom: 20%;
  }

  .submit-button-container{
    border-radius: 0;
    bottom:0;
    right: 0;
    position:absolute;
    width:100%;

    .submit-button{
      border-radius: 0;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}



