.place-autocomplete-text-input-container {
  justify-content: center;
  display: flex;
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 99;
}

.place-autocomplete-text-input {
  width: 70%;
}
