<div id="menu-container">
  <button ion-button menuToggle clear color="dark">
    <ion-icon name="menu" item-start></ion-icon>
  </button>
</div>
<ion-menu *ngIf="applicationContent" [content]="applicationContent" side="right" persistent="true">
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let page of getPagesTitle()">
        <button class="application-menu-item" ion-item menuClose (click)="changePage(page)">{{page.title}}</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
