page-home{
  ion-header{
    background-color: map_get($colors, white);
    .toolbar-background{
      background-color: map_get($colors, white);
    }

    #options-button{
      background-color: transparent;
      margin-left: 10px;
      margin-top: 10px;
      position: absolute;
      top: calc(6%);
      justify-content: center;
      align-items: center;
      ion-icon{
        font-size: 2em;
        font-weight: bold;
      }
    }
  }

  .search-bar{
    background-color: #f9f9f9;
    width: 90%;
    margin:auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom:10px;

    ion-icon[name=search]{
      color: map_get($colors, dark);
    }

    .item-inner{
      border-bottom: none !important;
    }
  }

  #fabs-container {
    position: fixed;
    bottom: 0;
  }

  #fabs {
    display: flex;
    flex-direction: column;
  }

  .fab-size {
    width: $fab-size;
    height: $fab-size;
  }
}
