// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/mixins";
@import "../theme/typography";

.alert-wrapper {
  direction: rtl;
  .alert-radio-icon, .alert-checkbox-icon {
    left: 0;
    right: 13px;
  }
  .alert-button-group, .alert-checkbox-group{
    justify-content: space-between;
  }
}

.transparent {
  background-color: transparent;
}

.x2 {
   font-size: 2em;
}

.form-background-color {
  background-color: map_get($colors, cream)
}

.dark-footer {
  background-color: map_get($colors, dark);
}

.footer-disabled {
  background-color: transparentize(map_get($colors, dark), 0.65);
}

ion-input[dir=rtl][clearInput]{
  button{
    &.text-input-clear-icon {
      left: 0;
      right: inherit;
    }
  }
  input{
    padding-right: 0 !important;
  }
}

.last-updated-at {
  background-color: $last-update-at-button-color;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  font-size: 0.6em;
}

.relative-distance {
  color: white;
}
