<ion-header>

  <ion-navbar>
    <ion-title>הוספה</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding dir="rtl">
  <div *ngIf="!mapObject && addEventComponent" text-center>
    <div>
      <span>לא ניתן להוסיף </span>
      <span> {{eventType}}</span>
      <span>מבלי שנבחר מקום. נא בחר מקום</span>
    </div>
    <button ion-button (click)="openSelectMapObject()">בחר מקום</button>
  </div>
  <div [hidden]="!mapObject">
    <div><div *ngFor="let error of errors">{{error}}</div></div>
    <ndc-dynamic [ndcDynamicComponent]="addEventComponentType" (ndcDynamicCreated)="onAddEventComponentCreated($event)"></ndc-dynamic>
  </div>
</ion-content>
