fk-google-map{
  fk-locate-button {
    position: absolute;
    bottom: 5%;
  }

  #map-loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    direction: rtl;
    #loading-text{
      font-size: 2.5rem;
    }
    #error{
      #help{
        font-size: 3rem;
      }
      #description{
        margin: auto;
        width: 70%;
        font-size: 1.5rem;
      }
    }
    #manual-locate{
      width: 80%;
      margin: auto;
    }
  }

  .gm-style-iw{
    direction: rtl;
  }

  .window-info{
    .window-info-image-container{
      float: left;
      width: 50px;
      height: 50px;
      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    .window-info-header{
      //display: flex;
    }

    .window-info-address{
      text-align: right;
    }
  }

  .fab-size {
    width: $fab-size;
    height: $fab-size;
  }
}
