$text-start-padding: 15px;

.event-card {
  background: url("https://picsum.photos/400/120") no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 4em #000000;
}

.event-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding-top: 20px;
  padding-right: $text-start-padding;
  padding-bottom: 10px;
}

.event-short-description {
  padding-right: $text-start-padding;
  color: white;
}

.event-times {
  padding-left: $text-start-padding;
  //color: #a29e9d;
  color: rgb(0, 255, 255);
  color: white;
  font-weight: bolder;
  mix-blend-mode: lighten;
}

