<ion-card dir="rtl" class="card">
  <ion-card-header>
    <ion-row justify-content-between dir="ltr">
      <button class="transparent" (click)="dismiss()"><h1>x</h1></button>
      <div class="time-value">
        <label>זמני האירוע</label>
        <span dir="ltr" float-left>{{formatTimeRange}}</span>
      </div>
    </ion-row>
  </ion-card-header>
  <ion-card-content id="modal-card-content">
    <form [formGroup]="form" (submit)="onFormSubmitted()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>שעת התחלה</ion-label>
              <ion-datetime formControlName="startsAt" [(ngModel)]="event.startTime"
                            displayFormat="HH:mm" pickerFormat="HH:mm" placeholder="בחר שעה"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked>שעת סיום (אם ידועה)</ion-label>
              <ion-datetime formControlName="endsAt" [(ngModel)]="event.endTime"
                            displayFormat="HH:mm" pickerFormat="HH:mm" placeholder="בחר שעה"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-label>ימים</ion-label>
      <fk-day-range formControlName="repeatedDays" [(ngModel)]="event.repeatedDays"></fk-day-range>
      <ion-row class="submit-button-container">
        <button ion-button color="dark" class="submit-button" [disabled]="!form.valid">+ הוסף זמנים</button>
      </ion-row>
    </form>
  </ion-card-content>
  <button (click)="getFormValidationErrors()">v</button>
</ion-card>
